@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;


.playlist {
    padding: 1rem;


    @include tablet {
        padding: 2rem
    }

    @include desktop {
        padding: 1.5rem;
        border-left: .0625rem solid $mercury
    }

    &__header {
        @include mobile__subheader;
        text-transform: uppercase;
        color: $silver;
        margin-bottom: 1rem;

        @include tablet {
            @include desktop-tablet__body-copy;
            font-weight: 600;
        }
    }

    &__next-video-container {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        @include desktop {
            margin-bottom: .25rem;
        }
    }

    &__next-video {
        min-width: 7.5rem;
        max-width: 7.5rem;
        height: 4.375rem;
        object-fit: cover;
        border-radius: 5%;
    }

    &__title {
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 10.625rem;
        @include mobile__subheader;

        @include tablet {
            width: 60%;
            overflow: auto;
            text-overflow:unset;
            white-space:unset;
            margin-bottom: 0;
        }

        @include desktop {
            width: 70%
        }
    }

    &__channel {
        @include moblie__body-copy;

        @include tablet {
            @include desktop-tablet__body-copy;
            margin-top: .625rem;
        }
    }
}

