
@use './colors' as *;

// regular

@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400; 
}

// bold

@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700; 
}

// mobile type styles
@mixin mobile__page-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin mobile__section-header {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;

}

@mixin mobile__subheader {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 700;

}

@mixin moblie__body-copy {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;

}

@mixin mobile__labels-buttons {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;

}


// desktop & tablet type styles
@mixin desktop-tablet__page-header {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;

}

@mixin desktop-tablet__section-header {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;

}

@mixin desktop-tablet__subheader {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 700;

}

@mixin desktop-tablet__body-copy {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;

}

@mixin desktop-tablet__labels-buttons {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;

}