
@use './colors' as *;

// regular

@font-face {
    font-family: "Avenir";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400; 
}
// demi

@font-face {
    font-family: "Avenir";
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
    font-weight: 600; 
}
// bold

@font-face {
    font-family: "Avenir";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700; 
}



// mobile type styles
@mixin mobile__page-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin mobile__section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;

}

@mixin mobile__subheader {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;

}

@mixin moblie__body-copy {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;

}

@mixin moblie__footer-copy {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;

}

@mixin mobile__labels-buttons {
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 600;

}


// desktop & tablet type styles
@mixin desktop-tablet__page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;

}

@mixin desktop-tablet__section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;

}

@mixin desktop-tablet__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;

}

@mixin desktop-tablet__body-copy {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;

}

@mixin desktop-tablet__footer-copy {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;

}

@mixin desktop-tablet__labels-buttons {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;

}