@use './colors' as *;


@mixin profile-picture {
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    border-radius: 50%;
    object-position: .0063rem;
    background-color: $mercury;
}