@use './partials/mixins' as *;
@use './partials/fonts' as *;
@use './partials/colors' as *;

.header {
    padding: 1rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
        width: 100%;
    }

    &__search-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;

    }

    &__search {
        // background-image: url(../assets/Icons/search.svg);
        // background-size: 30px;
        font-family: "avenir";
        background-repeat: no-repeat;
        text-indent: 1rem;
        padding: 1rem;
        border: 1px solid $mercury;
        background-color: $alabaster;
        height: 1rem;
        width: 100%;
        @include mobile__labels-buttons;
        font-weight: 400;
        width: 83%;
        margin-right: auto;
        border-radius: .25rem;
    }

    &__search::placeholder {
        color: $brainflix-black;
    }

    &__profile-picture {
        @include profile-picture;
    }


    &__upload-button {
        margin-top: 1rem;
        padding: .825rem;
        @include mobile__labels-buttons;
        font-size: 16px;
        text-transform: uppercase;
        background-color: $brainflix-blue;
        color: $white;
        border: none;
        border-radius: .25rem;

    }
}