@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;


.upload {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__page-header {
        @include mobile__page-header;
    }

    &__page-subheader {
        @include mobile__section-header;
        color: $silver;
        text-transform: uppercase;
    }

    &__picture {
        width: 100%;
        border-radius: .5rem;
        margin-bottom: 1rem;
        
        @include tablet {
            width: 50%;
        }
    }

    &__description-box {
        resize: none;
        @include form-box;
        padding-bottom: 3.125rem;
        padding-top: .5rem;
        padding-left: .5rem;
        width: 100%;

    }

    &__video-title {
        @include form-box;
        padding-bottom: .75rem;
        padding-top: .75rem;
        padding-left: .5rem;
        width: 100%;
        margin-bottom: 1rem;

    }

    &__form {
        

    }

    &__form-button {
        @include button;
        background-image: url("../../assets/icons/publish.svg");
        margin-bottom: 1rem;

        
    }

    &__form-cancel {
    
        @include button;
        background-color: transparent;
        color: $brainflix-blue;
        background-image: url("../../assets/icons/publish.svg");
    }


    &__description-box::placeholder,
    &__video-title::placeholder {
        color: $brainflix-black;
        font-weight: 400;
    }
}