@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.comment {
    background-color: $white;
    padding: 0rem 1rem 1rem 1rem;

    &__form {
        @include flex-column;
        width: 83%;
    }

    &__title {
        @include mobile__section-header;
        margin-top: 0;
        color: $silver;
        text-transform: uppercase;
    }

    &__form-container {
        @include flex-evenly;
        margin-bottom: 1rem;
    }

    &__profile-picture {
        @include profile-picture;
    }

    &__form-container {
        @include flex-evenly;
        margin-bottom: 1rem;
    }

    &__box {
        resize: none;
        @include form-box;
        padding-bottom: 3.125rem;
        padding-top: .5rem;
        padding-left: .5rem;
    }

    &__box::placeholder,
    &__name::placeholder {
        color: $brainflix-black;
        font-weight: 400;
    }

    &__form-submit {
        @include button;
    }


    &__counter {
        @include moblie__body-copy;
        font-weight: 700;
    }
}