@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.hero {
    
    &__video {
        width: 100%;
        height: 20%;
        object-fit: cover;

        @include tablet {
            object-fit: cover;
        }
    }

    &__content-container{
        padding: 1rem 1rem 0 1rem;

        @include tablet {
            padding: 1rem 2rem 0 2rem;
        }
    }

    &__video-header {
        margin-top: 0;

        @include tablet {
            @include desktop-tablet__page-header;
            margin-bottom: 0;
        }
    }

    &__video-details{
        display: flex;
        justify-content: space-between;
        border-top: .0625rem solid $mercury;
        border-bottom: .0625rem solid $mercury;

        @include tablet {
            border-top: 0rem;
        }
        
    }

    &__video-details-card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
        
    }

    &__video-date {
        color: $silver;
        @include mobile__subheader;
        font-weight: 400;
        margin-top: 0;

        @include tablet {
            margin-top: .8125rem;
            margin-bottom: .8125rem;
        }


    }

    &__video-content {
        margin: .4375rem;
        margin-left: .625rem;
        color: $silver;
        @include mobile__subheader;
        font-weight: 400;
        
    }

    &__icons-container {
        display: flex;        
    }

    &__video-channel {
        @include moblie__body-copy;
        font-weight: 700;
    }


    &__video-description {
        @include moblie__body-copy;
        margin-bottom: 0;

        @include tablet {
            @include desktop-tablet__body-copy;
            font-size: .9063rem;
        }
    }


}

.icons {
    max-width: 1.5625rem;    
    max-height: 1.5625rem;
}

#right-box {
    margin-right: 1.5rem;
}