@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.comment {

    &__container{
        padding: 1rem;

        @include tablet {
            padding: 0rem 2rem 0rem 2rem;
        }

        @include desktop {
            padding: 0rem 0rem 0rem 6rem;
        }
    }

    &__section {

        @include desktop {
            width: 100%;
        }
    }

    &__section-container {
        gap: 1rem;
        @include flex-evenly;
        border-top: .0625rem solid $mercury;
        border-bottom: .0625rem solid $mercury;
        padding: .5rem;

        @include tablet {
            padding: 0;
        }
        
        @include desktop {
            gap: 2rem;
            border-bottom: 0 solid $mercury;

        }

    }

    &__card {
        @include flex-column;
        width: 83%;

        @include tablet {
            width: 90%;
        }


    }

    &__card-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 1rem;
        margin-bottom: .25rem;

    }

    &__card-name {
        @include moblie__body-copy;
        font-weight: 600;
        margin: 0;

        @include tablet {
            @include desktop-tablet__body-copy;
            font-weight: 600;

        }
    }

    &__card-date {
        @include moblie__body-copy;
        color: $silver;
        margin: 0;

        @include tablet {
            @include desktop-tablet__body-copy;
        }

        @include desktop {
            margin-right: 1rem;
        }
    }

    &__card-text {
        @include moblie__body-copy;
        margin-top: 0;
        width: 98%;

        @include tablet {
            @include desktop-tablet__body-copy;
        }

    }
}