@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;


.header {
    padding: 1rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

}

.logo {
    min-height: 1.5625rem;
    min-width: 7.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    &__container {
        width: 100%;

        @include tablet {
            width: 70%;
        }
    }

    &__search-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        @include tablet {
            margin-top: 0;

        }
    }

    &__search {
        @include mobile__labels-buttons;
        font-family: "avenir";
        background-repeat: no-repeat;
        text-indent: 1rem;
        padding: 1rem;
        border: 1px solid $mercury;
        background-color: $alabaster;
        height: 1rem;
        font-weight: 400;
        width: 83%;
        margin-right: auto;
        border-radius: .25rem;

        @include tablet {
            width: 250px;
            height: 42px;
        }
    }

    &__search::placeholder {
        color: $brainflix-black;
    }

    &__profile-picture {
        @include profile-picture;
        margin-top: 0;

        @include tablet {
            visibility: hidden;
            position: absolute;
        }
    }

    &__profile-pictures {
        @include profile-picture;
        margin-top: 0;
        visibility: hidden;
        position: absolute;

        @include tablet {
            visibility: visible;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
        }
    }


    &__upload-button {
        @include button;

        @include tablet {
            margin-top: 0;
            padding: .7rem;
            width: 10.5rem;
            margin-left: 1rem;
            @include moblie__body-copy;
        }
    }
}